@model IEnumerable<HtmlHelperPractice.Models.ContactInfo>

@{
    ViewBag.Title = "ContactList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Contact List</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)<br />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)<br />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)<br />
            </td>
        </tr>
    }
</table>

<br />
<div>
    @Html.DropDownList("ddlName", new SelectList(Model, "Id", "Name"), new { @class = "form-control" })
</div>

<br />
<div>
    @Html.ListBox("lstEmail", new SelectList(Model, "Id", "Email"), new { @class = "form-control"})
</div>

